
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
}

.container{
    width: 90%;
    margin: auto;
}
.heading {
    font-style: italic;
    color: blue;
    font-size: 1.5rem;

    border: 1px dashed red;
}


.text {
    color: blue;
    font-size: 1em;
    line-height: 1.5em;

}
.text:hover{
    color: blueviolet;
}
.marked {
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.5em;
}
.text2 .marked {
    background-color: aquamarine;
}
ol {
    list-style-type: none;
    list-style-position: inside;
    counter-reset: number;
    color: black;
    padding: 1em 5em 2em 5em;
    border: 1px solid red;
    margin: 2em auto;
    width: 250px;
    height: 250px;
    background-image: url(https://shop-cdn1-2.vigbo.tech/shops/2544/products/21674060/images/3-ba84e26c348f959cfd3db3bf5db82c3d.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;

}

ol li::before {
    content: counter(numder) ') ';
    counter-increment: number;
    background-color: aquamarine;
   
}

#red {
color: red;
}
#orange {
color: orange;
}
#yellow {
color: yellow;
}
#coral {
color: coral;
}
#darkorange {
color: darkorange;
}
.cat-image{
    width: 300px;
    float: right;

}
.cat-image2{
    width: 200px;
    display: block;
    margin: auto;
}

a{
    color: coral;
}
a:visited{
    color: green;
}
a:hover{
    color: blue;
}